<Configuration status="info">
    <Appenders>
        <Console name="console" target="system_out">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %p %logger{36} - %m%n"/>
        </Console>
        <File name="file" filename="/home/slj/projects/PortierDigital-R.Pravnyk/logs/portier-digital.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %p %logger{36} - %m%n"/>
        </File>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="console"/>
            <AppenderRef ref="file"/>
        </Root>
    </Loggers>
</Configuration>