@font-face {
    font-family: Dm Sans;
    src: url(../fonts/DMSans_18pt-Bold.woff2) format('woff2');

}
@font-face {
    font-family: Sora;
    src: url(../fonts/Sora-Light.woff2) format(woff2);
    font-weight: lighter;
}
@font-face {
    font-family: Sora;
    src: url(../fonts/Sora-Regular.woff2) format(woff2);
    font-weight: normal;
}
@font-face {
    font-family: Sora;
    src: url(../fonts/Sora-SemiBold.woff2) format(woff2);
    font-weight: 600;
}
@font-face {
    font-family: Sora;
    src: url(../fonts/Sora-Bold.woff2) format(woff2);
    font-weight: bold;
}
@font-face {
    font-family: Inter;
    src: url(../fonts/Inter-Regular.woff2) format(woff2);
    font-weight: normal;
}