<div th:fragment="sidebar">
    <aside id="layout-menu" class="layout-menu menu-vertical menu"
           style="display: flex;flex-direction: column;height: 100%; background-color: #676789;">
        <div class="app-brand demo" style="margin: 12px;">
            <a href="javascript:void(0)" class="app-brand-link" style="margin-left: 3px;">
              <span class="app-brand-logo demo">
                  <svg color="white"
                       xmlns="http://www.w3.org/2000/svg" width="38" height="38" viewBox="0 0 24 24" fill="currentColor"
                       class="icon icon-tabler icons-tabler-filled icon-tabler-star"><path stroke="none"
                                                                                           d="M0 0h24v24H0z"
                                                                                           fill="none"/><path
                          d="M8.243 7.34l-6.38 .925l-.113 .023a1 1 0 0 0 -.44 1.684l4.622 4.499l-1.09 6.355l-.013 .11a1 1 0 0 0 1.464 .944l5.706 -3l5.693 3l.1 .046a1 1 0 0 0 1.352 -1.1l-1.091 -6.355l4.624 -4.5l.078 -.085a1 1 0 0 0 -.633 -1.62l-6.38 -.926l-2.852 -5.78a1 1 0 0 0 -1.794 0l-2.853 5.78z"/></svg>
              </span>
                <span class="app-brand-text demo menu-text fw-bold" style="color: white;">Portier Digital</span>
            </a>
            <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto">
                <i class="ti menu-toggle-icon d-none d-xl-block ti-sm align-middle" style="color: white;"></i>
                <i class="ti ti-x d-block d-xl-none ti-sm align-middle" style="color: white;"></i>
            </a>
        </div>
        <ul class="menu-inner py-1 ps ps--active-y" style="border-top: 1px solid;">
            <li class="menu-item">
                <a th:href="@{/admin/articles}" th:class="'menu-link '+${isActiveArticles!=null?'active-buttonMy':''}">
                    <i class="menu-icon ti ti-mail" style="color: white;"></i>
                    <div style="color: white;">Articles</div>
                </a>
            </li>
            <li class="menu-item">
                <a th:href="@{/admin/experiences}" th:class="'menu-link '+${isActiveExperiences!=null?'active-buttonMy':''}">
                    <i class="menu-icon ti ti-article" style="color: white;"></i>
                    <div style="color: white;">Experiences</div>
                </a>
            </li>
            <li class="menu-item">
                <a th:href="@{/admin/cards}" th:class="'menu-link '+${isActiveCards!=null?'active-buttonMy':''}">
                    <i class="menu-icon ti ti-cardboards" style="color: white;"></i>
                    <div style="color: white;">Cards</div>
                </a>
            </li>
            <li class="menu-item">
                <a th:href="@{/admin/work-cards}" th:class="'menu-link '+${isActiveWorkCards!=null?'active-buttonMy':''}">
                    <i class="menu-icon ti ti-letter-w" style="color: white;"></i>
                    <div style="color: white;">Work Cards</div>
                </a>
            </li>
            <li class="menu-item">
                <a th:href="@{/admin/reviews}" th:class="'menu-link '+${isActiveReviews!=null?'active-buttonMy':''}">
                    <i class="menu-icon ti ti-message" style="color: white;"></i>
                    <div style="color: white;">Reviews</div>
                </a>
            </li>
            <li class="menu-item">
                <a th:href="@{/admin/facts}" th:class="'menu-link '+${isActiveFacts!=null?'active-buttonMy':''}">
                    <i class="menu-icon ti ti ti-bulb" style="color: white;"></i>
                    <div style="color: white;">Facts</div>
                </a>
            </li>
            <li class="menu-item">
                <a th:href="@{/admin/skills}" th:class="'menu-link '+${isActiveSkills!=null?'active-buttonMy':''}">
                    <i class="menu-icon ti ti-letter-s" style="color: white;"></i>
                    <div style="color: white;">Skills</div>
                </a>
            </li>
            <li class="menu-item">
                <a th:href="@{/admin/subscribers}" th:class="'menu-link '+${isActiveSubscribers!=null?'active-buttonMy':''}">
                    <i class="menu-icon ti ti-users" style="color: white;"></i>
                    <div style="color: white;">Subscribers</div>
                </a>
            </li>
            <li class="menu-item">
                <a th:href="@{/admin/applications}" th:class="'menu-link '+${isActiveApplications!=null?'active-buttonMy':''}">
                    <i class="menu-icon ti ti-message-dots" style="color: white;"></i>
                    <div style="color: white;">Applications</div>
                </a>
            </li>
        </ul>
    </aside>
</div>