<!DOCTYPE html>
<html lang="en"
      layout:decorate="~{public/blocks/layout.html}"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns="http://www.w3.org/1999/html">
<head>
    <title>Blog</title>
    <style>
        .touchMy {
            max-width: 145px;
            height: 52px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #006ADA;
            color: white;

            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: 24px;
            border-radius: 5px;
        }
    </style>
</head>
<body>
<main layout:fragment="content">
    <section class="tips">
        <div class="container">
            <div class="tips__inner">
                <div class="tips__inner--title" id="title_" style="text-align: start;"></div>
                <div id="dateToday_"
                     class="tips__inner--subtitile" style="font-size: 12px;width: 100%;text-align: start;">
                    Sep 25, 2021
                </div>
                <div class="tips__inner--subtitile" id="description_" style="text-align: start;"></div>
                <div class="tips__inner--subtitile" style="text-align: start;width: 100%;">
                    <div class="d-flex mt-3">
                        <button class="touchMy" onclick="redirectBlogs()">Get In Touch</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script>
        function getBlock() {
            $.ajax({
                method: 'get',
                url: window.location.pathname + '/data',
                contentType: 'json',
                success: function (response) {
                    console.log(response);
                    assignDataBlog(response);
                    console.log(formatCurrentDate());
                }
            });
        }

        function assignDataBlog(object) {
            let title = document.getElementById("title_");
            if (title) {
                title.textContent = object.title;
            }
            let description = document.getElementById("description_");
            if (description) {
                description.textContent = object.description;
            }
        }

        function formatCurrentDate() {
            const options = {month: 'short', day: 'numeric', year: 'numeric'};
            const currentDate = new Date();
            return currentDate.toLocaleDateString('en-US', options);
        }

        window.addEventListener('DOMContentLoaded', function () {
            getBlock();
        });

        function redirectBlogs(){
            window.location.href = contextPath+'blogs';
        }
    </script>
</main>
</body>
</html>