<html lang="en" class="light-style layout-wide customizer-hide layout-menu-100vh" dir="ltr" data-theme="theme-default"
      data-assets-path="/kinocms/vuexy/assets/" data-template="vertical-menu-template" data-style="light">
<head>
    <meta charset="utf-8">
    <title>Error 403 - Not Found</title>
    <link rel="stylesheet" th:href="@{/vuexy/assets/vendor/css/pages/page-misc.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/vuexy/assets/vendor/css/rtl/core.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/vuexy/assets/vendor/css/rtl/theme-default.css}">
</head>
<body>
<!-- Content -->
<!-- Error -->
<div class="container-xxl container-p-y">
    <div class="misc-wrapper">
        <h1 class="mb-2 mx-2" style="line-height: 6rem;font-size: 6rem;">404</h1>
        <h4 class="mb-2 mx-2">Page Not Found️ ⚠️</h4>
        <p class="mb-6 mx-2">we couldn't find the page you are looking for</p>
        <div class="mt-4">
            <img th:src="@{/vuexy/assets/img/illustrations/page-misc-error.png}" alt="page-misc-error" width="225"
                 class="img-fluid">
        </div>
    </div>
</div>
<!-- /Error -->
<!-- / Content -->
</body>
</html>