<head th:fragment="linksAuth">
    <link rel="stylesheet" th:href="@{/vuexy/assets/css/demo.css}">
    <link rel="stylesheet" th:href="@{/vuexy/assets/vendor/css/pages/page-auth.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/vuexy/assets/vendor/css/rtl/core.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/vuexy/assets/vendor/css/rtl/theme-default.css}">
</head>

<head th:fragment="links">
    <link rel="stylesheet" th:href="@{/vuexy/assets/vendor/css/rtl/core.css}"/>
    <link rel="stylesheet" th:href="@{/vuexy/assets/vendor/css/rtl/theme-default.css}"/>
    <link rel="stylesheet" th:href="@{/vuexy/assets/vendor/fonts/tabler-icons.css}">
</head>

<head th:fragment="linksTagify">
    <link rel="stylesheet" th:href="@{/vuexy/assets/vendor/libs/tagify/tagify.css}"/>
    <script th:src="@{/vuexy/assets/vendor/libs/tagify/tagify.js}"></script>
</head>

<head th:fragment="linksFontAwesome">
    <link rel="stylesheet" th:href="@{/fontawesome/css/all.min.css}">
</head>

<head th:fragment="linksBootstrapDatePicker">
    <link rel="stylesheet" th:href="@{/vuexy/assets/vendor/libs/bootstrap-datepicker/bootstrap-datepicker.css}"/>
</head>

<head th:fragment="linksBootstrapSelect">
    <link rel="stylesheet" th:href="@{/vuexy/assets/vendor/libs/bootstrap-select/bootstrap-select.css}"/>
</head>

<body th:fragment="scripts">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script th:src="@{/vuexy/assets/vendor/js/helpers.js}"></script>
    <script th:src="@{/vuexy/assets/js/config.js}"></script>
    <script th:src="@{/vuexy/dist/js/bootstrap.js}"></script>
</body>