<head th:fragment="linksAuth">
    <link rel="stylesheet" th:href="@{/vuexy/assets/css/demo.css}">
    <link rel="stylesheet" th:href="@{/vuexy/assets/vendor/css/pages/page-auth.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/vuexy/assets/vendor/css/rtl/core.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/vuexy/assets/vendor/css/rtl/theme-default.css}">
</head>

<head th:fragment="links">
    <link rel="stylesheet" th:href="@{/vuexy/assets/vendor/css/rtl/core.css}"/>
    <link rel="stylesheet" th:href="@{/vuexy/assets/vendor/css/rtl/theme-default.css}"/>
    <link rel="stylesheet" th:href="@{/vuexy/assets/vendor/fonts/tabler-icons.css}">
</head>

<body th:fragment="scriptMy">
    <script th:src="@{/js/pagination.js}"></script>
    <script th:src="@{/js/modal.js}"></script>
    <script th:src="@{/js/validator.js}"></script>
    <script th:src="@{/js/image.js}"></script>
</body>
<body th:fragment="scripts">
<script th:src="@{/jquery/jquery-3.7.1.min.js}"></script>
<script th:src="@{/vuexy/assets/vendor/js/helpers.js}"></script>
<script th:src="@{/vuexy/assets/js/config.js}"></script>
<script th:src="@{/vuexy/dist/js/bootstrap.js}"></script>
<script th:src="@{/vuexy/assets/vendor/js/menu.js}"></script>
<script th:src="@{/vuexy/assets/js/main.js}"></script>
</body>