<div th:fragment="navbar" style="margin-bottom: 1px;">
    <nav class="layout-navbar navbar navbar-expand-lg navbar-light" style="background-color: #28283C;">
        <div class="container-fluid">
            <div class="col-1">

            </div>
            <div class="col-3">
                <div style="text-align: end;">
                    <i class="ti ti-user-circle rounded-block"
                    style="color: whitesmoke;font-size: xx-large;"></i>
                </div>
            </div>
        </div>
    </nav>
</div>