<div th:fragment="sidebar">
    <aside id="layout-menu" class="layout-menu menu-vertical menu"
           style="display: flex;flex-direction: column;height: 100%; background-color: #676789;">
        <div class="app-brand demo" style="margin: 12px;">
            <a href="/" class="app-brand-link" style="margin-left: 3px;">
              <span class="app-brand-logo demo">
                  <svg color="white"
                       xmlns="http://www.w3.org/2000/svg" width="38" height="38" viewBox="0 0 24 24" fill="currentColor"
                       class="icon icon-tabler icons-tabler-filled icon-tabler-star"><path stroke="none"
                                                                                           d="M0 0h24v24H0z"
                                                                                           fill="none"/><path
                          d="M8.243 7.34l-6.38 .925l-.113 .023a1 1 0 0 0 -.44 1.684l4.622 4.499l-1.09 6.355l-.013 .11a1 1 0 0 0 1.464 .944l5.706 -3l5.693 3l.1 .046a1 1 0 0 0 1.352 -1.1l-1.091 -6.355l4.624 -4.5l.078 -.085a1 1 0 0 0 -.633 -1.62l-6.38 -.926l-2.852 -5.78a1 1 0 0 0 -1.794 0l-2.853 5.78z"/></svg>
              </span>
                <span class="app-brand-text demo menu-text fw-bold" style="color: white;">Portier Digital</span>
            </a>
            <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto">
                <i class="ti menu-toggle-icon d-none d-xl-block ti-sm align-middle" style="color: white;"></i>
                <i class="ti ti-x d-block d-xl-none ti-sm align-middle" style="color: white;"></i>
            </a>
        </div>
        <ul class="menu-inner py-1 ps ps--active-y" style="border-top: 1px solid;">
            <li th:class="'menu-item '+${isActiveRequests!=null?'active':''}">
                <a th:href="@{/articles}" class="menu-link" data-bs-toggle="button">
                    <i class="menu-icon ti ti-mail" style="color: white;"></i>
                    <div style="color: white;">Статті</div>
                </a>
            </li>
            <li th:class="'menu-item '+${isActiveObjects!=null?'active':''}">
                <a th:href="@{/experiences}" class="menu-link">
                    <i class="menu-icon ti ti-home" style="color: white;"></i>
                    <div style="color: white;">Досвіди</div>
                </a>
            </li>
            <li th:class="'menu-item '+${isActiveProjects!=null?'active':''}">
                <a th:href="@{/cards}" class="menu-link">
                    <i class="menu-icon ti ti-building-skyscraper" style="color: white;"></i>
                    <div style="color: white;">Карточки</div>
                </a>
            </li>
            <li th:class="'menu-item '+${isActiveServices!=null?'active':''}">
                <a th:href="@{/work-cards}" class="menu-link">
                    <i class="menu-icon ti ti-heart-handshake" style="color: white;"></i>
                    <div style="color: white;">Робочі карточки</div>
                </a>
            </li>
            <li th:class="'menu-item '+${isActiveServices!=null?'active':''}">
                <a th:href="@{/reviews}" class="menu-link">
                    <i class="menu-icon ti ti-heart-handshake" style="color: white;"></i>
                    <div style="color: white;">Відгуки</div>
                </a>
            </li>
            <li th:class="'menu-item '+${isActiveServices!=null?'active':''}">
                <a th:href="@{/facts}" class="menu-link">
                    <i class="menu-icon ti ti-heart-handshake" style="color: white;"></i>
                    <div style="color: white;">Факти</div>
                </a>
            </li>
        </ul>
    </aside>
</div>